In [14]:
import nltk
import pandas as pd

""" There are many features to determine if a text is from an author, for example:

- Word Frecuency
- Vocabulary Richness
- Verb C
- N-Grams
- etc.

In this case, I will use Word Frecuency
"""

# 1st, I will check the available data. This data contains the texts with their respective Author. 
texts_with_author = pd.read_csv("data/train.csv")
texts_with_author.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [30]:
# The ids are not important, we need to group and join all the texts by author
# The stop words inside this texts will help beacuse we are not trying to understand the intetion of the author.
# Every person uses this stop words with more or less frecuency than others.
texts_groupby_author = texts_with_author.groupby("author")["text"].apply(' '.join).reset_index()

texts_groupby_author

  author                                               text
0    EAP  This process, however, afforded me no means of...
1    HPL  It never once occurred to me that the fumbling...
2    MWS  How lovely is spring As we looked from Windsor...

In [31]:
# We transform every text to lowercase to eliminate the tokenization of same words with capitalized letters.
texts_groupby_author["text"] = texts_groupby_author.text.str.lower()

texts_groupby_author

  author                                               text
0    EAP  this process, however, afforded me no means of...
1    HPL  it never once occurred to me that the fumbling...
2    MWS  how lovely is spring as we looked from windsor...